<div>
    <h2>Login</h2>
    <form (ngSubmit)="login()"  class="loginform">
      <div [formGroup]="userdata">
        <label for="email">E-Mail-Adresse:</label>
        <input [class.is-invalid] = "userdata.get('email')?.invalid && userdata.get('email')?.touched" type="email" required id="email" name="email" class="form-control" placeholder="mustermann@gmail.com" formControlName="email" required>
      </div>
      <div [formGroup]="userdata">
        <label for="password">Passwort:</label>
        <input type="{{ showPassword ? 'text' : 'password' }}" id="password" name="password" class="form-control" formControlName="password" required>
        <button type="button" (click)="passwordVisibility()">Passwort Anzeigen</button>
      </div>
      <input type="submit" name="submitbutton" id="submitID">
    </form>
  </div>