<div *ngIf="highscores.length > 0" class="container">
  <h2 class="my-4">Highscores</h2>
  <ul class="list-group">
    <li *ngFor="let highscore of highscores" class="list-group-item">
      {{ highscore.username }}: {{ highscore.score }}
    </li>
  </ul>
  <div *ngIf="isLoggedIn" class="mt-4">
    <input [(ngModel)]="username" placeholder="Enter your username" class="form-control" readonly>
    <input [(ngModel)]="score" placeholder="Enter your score" type="number" class="form-control mt-2">
    <button (click)="sendHighscore()" class="btn btn-primary mt-2">Submit Highscore</button>
  </div>
</div>